
.icon-book:before { content: '\e800'; } /* '' */
.icon-graduation-cap:before { content: '\e801'; } /* '' */
.icon-palette:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
